*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
	background-color: black;
	color: #fff;
}

div.header{
	padding: 20px 0;
	height: 200px;
	background-color: steelblue;
	text-align: center;
	font-size: 130%;
	color: whitesmoke;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
}

.colorValue{
	font-size: 200%;
}

div.container{
	width: 45%;
	margin: 20px auto;
}

.colorBox{
	width: 30%;
	height: 250px;
	margin:1.06%;
	float: left;
	border-radius: 15%;
	transition: background .4s linear;
}

.setting{
	height: 50px;
	width: 100%;
	background: #fff;
	color: black;
	text-align: center;
}
.setting > p{
	max-width: 58%;
	height: inherit;
	margin: 0 auto;
	background: skyblue;
	height: 100%;
	line-height: 100%;
}

.status{
	width: 20%;
	color: rgb(14, 13, 13);
	display: inline-block;
}

.active {
	background: steelblue;
	color: #fff;
}

button{
	border: none;
	background: none;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	padding: 5px 10px;
	transition: .2s linear;
}

button:hover{
	background: steelblue;
	color: #fff;
}

.iconback{
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  color: black;
  display: flex;
  border: 1px white solid;
  cursor: pointer;
}
.iconback:hover{
  background: #ffffff57;
}

.iconback i {
  margin: auto;
  color: #fff;
  font-size: 30px;
}
