html , body , *{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: arial ;
}

::-webkit-scrollbar{
    width: 0px
}
::-webkit-scrollbar-track-piece{
    background-color: transparent;
    -webkit-border-radius: 6px;
}

/* ===================== STATIC NAV============================= */
    nav.nav{
      height: 100%;
      width: 100%;
      background: black;
      color:white;
      position: relative;
    }

    nav .static-nav{
      width: 100%;
      height: 100%;
    }

    .static-nav > .static-wrap, .slide-nav-head{
      display: flex;
      flex-grow: 1;
      flex: 1;
    }
    .inner{
      width: 33.3%;
      height: 40px;
      line-height: 40px;
    }
    .innerL{
      text-align: left;
      padding-left: 10px;
    }
    .innerC{
      text-align: center;
    }
    .innerR{
      text-align: right;
      padding-right: 10px;
    }

      /* ============SLIDE-NAV============= */
        .slide-nav-head{
          border-bottom: 2px #444 solid;
          padding-bottom: 10px;
        }
        .slide-nav{
          background: black;
          width: 50%;
          margin: 0 auto;
          display: none;
          height: 0;
          -webkit-transition: height 2s ease;
          -moz-transition: height 2s ease;
          -o-transition: height 2s ease;
          transition: height 2s ease;
        }
       
        .slide-head-date{
          width: 50%;
        }

    
        .slide-nav-toggles > table{
          padding-top: 18px;
          width: 90%;
          margin:0 auto;
          border-spacing: 15px;
        }
        td{
          width: 48%;
          height: 60px;
          background-color: #222;
        }
        td > span.icon{
          padding-top: 15px;
          padding-left: 15px;
          padding-bottom: 15px;
          padding-right: 15px;
          margin-right: 15px;
        }

        .slide-nav-toggles i{
          font-size: 25px;
        }
/* ============================================================= */

/* ================== SIDEBAR STYLES ====================== */
  .sidebar-container{
    width: 100%;
    height: 100vh;
    background: black;
    margin: 0 auto;
    padding-top: 80px;
  }

  .sidebar-container::-webkit-scrollbar{width: 0 !important;}
  .sidebar-container::-moz-scrollbar{width: 0 !important;}

  .sidebar-container .user{
    width: 300px;
    height: 220px;
    /* background: #999; */
    margin: 0 auto;
  }

  .sidebar-container .user .pic{
    background: #000;
    width: 160px;
    height: 160px;
    margin:0px auto;
    padding: 5px;
    border-radius: 5pc;
    border:1px #aaa solid;
    overflow: hidden;
    text-align: center;
  }

  .sidebar-container .user img{
    width:140px;
    height: 170px;
  }

  .sidebar-container .user p.owner{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
  }


.sidebar-container .sidebar-ul-container ul.sidebar-ul li{
  list-style: none;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  line-height: 40px;
}

.sidebar-container .sidebar-ul-container ul.sidebar-ul li:hover,
.sidebar-container .sidebar-ul-container ul.sidebar-ul li:focus{
  background-color: skyblue;
}

.sidebar-container .sidebar-ul-container ul.sidebar-ul li span{
  padding: 10px;
  font-size: 25px;
  /* font-weight: 800; */
}

.sidebar-container .sidebar-ul-container ul.sidebar-ul li span i{
  /* font-weight: bold; */
}
/* ========================================================== */


/* ==================== MENU STYLE ============================ */
  .menu-wrap{
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-rows: repeat(9,70px);
    padding: 15px;
    padding-top: 100px;
  }

  .menu-item{
    background: yellowgreen;
    padding: 10px;
  }

  .itemOne{
    grid-column: 2/5;
    grid-row: 2/6;
  }
  .itemTwo{
    grid-column: 5/8;
    grid-row: 2/6;
  }
.itemThree{
    grid-column: 2/5;
    grid-row: 6/10;
  }
  .itemFour{
    grid-column: 5/8;
    grid-row: 6/10;
  }


/* =============================================================== */

#body{
  display: block;
  grid-template-columns:  repeat(9 , 1fr);
  grid-template-rows: repeat(4 , minmax(50px, auto));
  grid-gap: 0;
  }

  #nav{
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1000;
  }
  #sidebar{
    grid-column: 1/3;
    grid-row: 1/5;
    position: relative;
  }
  .sidebar{
    width: 100%;
    left: -1000px;
    -webkit-transition: left .4s ease;
    -moz-transition: left .4s ease;
    -o-transition: left .4s ease;
    transition: left .4s ease;
  }
   #bottom_panel{
    height: 70px;
    position: relative;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e6e6e6;
    z-index: 1000;
  }
  .sidebar-toggler{
    float: left;
    height: 100%;
    width: 70px;
    display: flex;
    cursor: pointer;
  }

  .settings-toggler{
    float:right;
    height: 100%;
    width: 70px;
    display: flex;
    cursor: pointer;
  }

  .sidebar-toggler > i , .settings-toggler > i{
    margin:auto;
    font-size: 140%;
    color: #aaa;
  }

  .mainContainer{
    grid-column: 1/10;
    grid-row: 1/5;
    background: #fff;
    box-shadow: -13px 0px 20px 1px #1f1e1e9e;
    -o-box-shadow: -13px 0px 20px 1px #1f1e1e9e;
    -moz-box-shadow: -13px 0px 20px 1px #1f1e1e9e;
    -webkit-box-shadow: -13px 0px 20px 1px #1f1e1e9e;
    z-index: 999;
    position: relative;
    -webkit-transition: grid-column 1s ease;
    -moz-transition: grid-column 1s ease;
    -o-transition: grid-column 1s ease;
    transition: grid-column 1s ease;
  }

  /* ======================================= TOGGLE CLASSES ============== */

  .skyblue{
    border-bottom: 3px blue solid;

  }
  .skyblue + span.icon > i{
    color: blue;
  }

  .eight{
    height: 85vh;
    display: block;
  }

  .hide{
    left: 0;
  }

  .expand{
    grid-column: 3/10;
  }

  .contactedList{
    height: 60px;
    background: rgb(191, 213, 219);
    padding: 10px;
    /* grid-column: 1/10; */
    border-bottom: 2px black solid;
  }
